################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UI
/Thực Tập
/Sách
/PRO192
/PowerPoint
/Picture
/NOTE
/ManageBook
/luanhua888
/github
/File
/CSS,HTML
/Cheatsheet
/C#
/C
/Amtluan
